setuptools
wheel
# @modified 20160820 - Issue #23 Test dependency updates
# All current versions verified as of 20160820 - https://github.com/earthgecko/skyline/issues/21
redis==2.10.5
hiredis==0.2.0

## python-daemon and deps
# @modified 20161224 - Task #1758: Update deps in Ionosphere
#docutils==0.12
docutils==0.13.1
lockfile==0.12.2
# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
#python-daemon==2.1.1
python-daemon==2.1.2

## Flask and deps
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23

# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
#Werkzeug==0.11.10
Werkzeug==0.11.11

click==6.6
# @modified 20161224 - Task #1758: Update deps in Ionosphere
#Flask==0.11.1
Flask==0.12

# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
#simplejson==3.8.2
simplejson==3.10.0

six==1.10.0

## unittest2 and deps
argparse==1.4.0
linecache2==1.0.0
traceback2==1.4.0
unittest2==1.1.0

## mock and deps
funcsigs==1.0.2
pbr==1.10.0
mock==2.0.0

# If python-2.6 is being used, distribute is probably still required
#distribute

## numpy and deps
# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
#numpy==1.11.1
# @modified 20161224 - Task #1758: Update deps in Ionosphere
#numpy==1.11.2
numpy==1.11.3

## scipy and deps
# @modified 20160820 - Issue #23 Test dependency updates
#scipy==0.17.1
# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
#scipy==0.18.0
scipy==0.18.1

## matplotlib and co
# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
#python-dateutil==2.5.3
python-dateutil==2.6.0

# @modified 20160820 - Issue #23 Test dependency updates
#pytz==2016.4
# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
#pytz==2016.6.1
# @modified 20161224 - Task #1758: Update deps in Ionosphere
#pytz==2016.7
pytz==2016.10

cycler==0.10.0
# @modified 20160820 - Issue #23 Test dependency updates
#pyparsing==2.1.5
# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
#pyparsing==2.1.8
pyparsing==2.1.10

# @modified 20160820 - Issue #23 Test dependency updates
#matplotlib==1.5.1
# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
#matplotlib==1.5.2
matplotlib==1.5.3

## pandas and deps
# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
#pandas==0.18.1
pandas==0.19.1

patsy==0.4.1

statsmodels==0.6.1

# @modified 20160820 - Issue #23 Test dependency updates
#msgpack-python==0.4.7
msgpack-python==0.4.8

# @modified 20160820 - Issue #23 Test dependency updates
#requests==2.10.0
# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
#requests==2.11.1
# @modified 20161203 - Task #1658: Patterning Skyline Ionosphere - updated to tsfresh-0.3.0
#requests==2.12.1
# @modified 20161224 - Task #1758: Update deps in Ionosphere
#requests==2.12.3
requests==2.12.4

# ALERTERS - uncomment any alerters you want to enable
python-simple-hipchat==0.4.0

# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
#pygerduty==0.35.0
# @modified 20161224 - Task #1758: Update deps in Ionosphere
#pygerduty==0.35.1
pygerduty==0.35.2

# for panorama - direct from MySQL as the package has broken in the context of
# pip and virtualenv - NOTE: once you have installed this once, if it is run in
# terms of configuration management, feel free to comment out the direct
# download from MySQL as it is only required once, but will run every time.
# It provides the mysql-connector-python reference below, that can be left
# uncommented.
http://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-1.2.3.zip#md5=6d42998cfec6e85b902d4ffa5a35ce86

# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
# Seems the name is not matching in pip now when a version is used
#mysql-connector-python==1.2.3
mysql-connector-python

# For a production WSGI HTTP Server for the Webapp
gunicorn==19.6.0

# For dependencies management and helpful for debugging
# @modified 20161119 - Branch #922: ionosphere
#                      Task #1758: Update deps in Ionosphere
#pipdeptree==0.6.0
pipdeptree==0.8.0

# @added 20161119 - Branch #922: ionosphere
## tsfresh and deps
scikit_learn==0.18.1
future==0.16.0
# @modified 20161203 - Task #1658: Patterning Skyline Ionosphere - updated to tsfresh-0.3.0
#tsfresh==0.1.2
# @modified 20161224 - Task #1758: Update deps in Ionosphere
#tsfresh==0.3.0
# @modified 20161226 - Task #1758: Update deps in Ionosphere
#                      Bug #1822: tsfresh extract_features process stalling
# Making use of ReasonableFeatureExtractionSettings in 0.4.0 to overcome the
# computationally high cost of extracting features from very static timeseries
# that have little to no variation is the values, which results in features
# taking up to almost 600 seconds to calculate on a timeseries of length 10075
# (168h - 1 datapoint per 60s)
#tsfresh==0.3.1
tsfresh==0.4.0
termcolor==1.1.0

# @added 20161127 - Branch #922: ionosphere
## pytest and deps
# @modified 20161224 - Task #1758: Update deps in Ionosphere
#py==1.4.31
#pytest==3.0.4
py==1.4.32
pytest==3.0.5

# @added 20161130 - Branch #922: ionosphere
## sqlalchemy by this stage of the (no deps)
sqlalchemy==1.1.4
