setuptools
wheel
redis==4.1.0
hiredis==2.0.0
docutils==0.18.1
lockfile==0.12.2
python-daemon==2.3.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
Werkzeug==2.0.2
click==8.0.3
Flask==2.0.2
simplejson==3.17.6
six==1.16.0
argparse==1.4.0
linecache2==1.0.0
traceback2==1.4.0
unittest2==1.1.0
funcsigs==1.0.2
pbr==5.8.0
mock==4.0.3
numpy==1.22.0
scipy==1.7.3
python-dateutil==2.8.2
pytz==2021.3
cycler==0.11.0
pyparsing==3.0.6
Pillow==9.0.0
matplotlib==3.3.3
pandas==1.3.5
patsy==0.5.2
statsmodels==0.12.1
msgpack-python==0.5.6
requests==2.27.1
pygerduty==0.38.3
mysql-connector-python==8.0.27
gunicorn==20.1.0
pipdeptree==2.2.1
scikit-learn==1.0.2
future==0.18.2
git+https://github.com/earthgecko/tsfresh@05ee36c#egg=tsfresh
termcolor==1.1.0
py==1.11.0
pytest==6.2.5
SQLAlchemy==1.4.29
pymemcache==3.5.0
PyJWT==2.3.0
git+https://github.com/earthgecko/luminol@2de3fb2#egg=luminol
slackclient==2.9.3
aiohttp==3.8.0
urllib3==1.26.8
graphyte==1.7.0
statsd==3.3.0
falcon==3.0.1
xlrd==1.2.0
pandas_log==0.1.6; python_version >= '3.2'
timeout-decorator==0.5.0
matrixprofile==1.1.10
git+https://github.com/earthgecko/adtk@895c517#egg=adtk
mass-ts==0.1.4
boto3==1.20.24
bottleneck==1.3.2
