setuptools
wheel
redis==2.10.6
hiredis==0.2.0
docutils==0.14
lockfile==0.12.2
python-daemon==2.2.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
click==6.7
Flask==1.0.2
simplejson==3.16.0
six==1.11.0
argparse==1.4.0
linecache2==1.0.0
traceback2==1.4.0
unittest2==1.1.0
funcsigs==1.0.2
pbr==4.2.0
mock==2.0.0
numpy==1.15.1
scipy==1.1.0
python-dateutil==2.7.3
pytz==2018.5
cycler==0.10.0
pyparsing==2.2.0
matplotlib==2.2.3
pandas==0.23.4
patsy==0.5.0
statsmodels==0.8.0
msgpack-python==0.5.6
requests==2.19.1
python-simple-hipchat==0.4.0
pygerduty==0.37.0
mysql-connector-python==8.0.6
gunicorn==19.9.0
pipdeptree==0.13.0
scikit_learn==0.19.2
future==0.16.0
tsfresh==0.4.0
termcolor==1.1.0
py==1.6.0
pytest==3.8.0
SQLAlchemy==1.2.11
pymemcache==1.4.4
PyJWT==1.6.4
git+git://github.com/earthgecko/luminol@d429044#egg=luminol
slackclient==1.3.0
