# This is an example config.yaml for a set up where otelcol and Jaeger are
# running on the same server as Skyline (specifically Flux).  This config is
# mostly the default config.yaml but it will send traces to Jaeger and Flux via
# a otlphttp exporter.  Unnecessary protocols have been commented out.
# This config assumes that you have the following set up on the same Linux server.
# - Skyline flux listening on port 8000
# - A default Jaeger all-in-one instance running running in memory mode on the
#   same server, but it can be any type of Jaeger e.g.
#   /opt/jaeger/jaeger-1.32.0-linux-amd64/jaeger-all-in-one --collector.zipkin.host-port=:9411 --query.base-path=/jaeger
# - otelcol installed on the same server
extensions:
  health_check:
  pprof:
    endpoint: 0.0.0.0:1777
  zpages:
    endpoint: 0.0.0.0:55679

receivers:
  otlp:
    protocols:
      grpc:
      http:

  # opencensus:

  # Collect own metrics
  prometheus:
    config:
      scrape_configs:
      - job_name: 'otel-collector'
        scrape_interval: 10s
        static_configs:
        - targets: ['0.0.0.0:8888']

  jaeger:
    protocols:
      # grpc:
      #thrift_binary:
      #  endpoint: '127.0.0.1:26832'
      thrift_compact:
        endpoint: '127.0.0.1:26831'
      # thrift_http:

  # zipkin:

processors:
  memory_limiter:
    check_interval: 1s
    limit_mib: 500
    spike_limit_mib: 250
  batch:
    send_batch_size: 1000
    timeout: 30s

exporters:
  logging:
    logLevel: debug
  # Data sources: traces
  jaeger:
    # endpoint: "jaeger-all-in-one:14250"
    #endpoint: '127.0.0.1:6831'
    endpoint: '127.0.0.1:14250'
    tls:
      insecure: true
  # This otlphttp exported sends to Skyline/flux
  otlphttp:
    traces_endpoint: 'http://127.0.0.1:8000/otel/trace/v1'
    tls:
      insecure: true
    compression: gzip
    headers:
      otlp: true
      key: <settings.FLUX_SELF_API_KEY>

service:

  pipelines:

    traces:
      # receivers: [otlp, opencensus, jaeger, zipkin]
      receivers:
        - otlp
        - jaeger
      processors:
        - memory_limiter
        - batch
      #exporters: [logging, jaeger]
      exporters:
        - jaeger
        - otlphttp

    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging]

  extensions: [health_check, pprof, zpages]
