####    skyline.httpd.conf.d.example    ####
#
#
#  THIS IS A EXAMPLE
#  User variables are all prefixed with <YOUR_
#

<IfModule !proxy_module>
  LoadModule proxy_module modules/mod_proxy.so
</IfModule>
<IfModule !proxy_http_module>
  LoadModule proxy_http_module modules/mod_proxy_http.so
</IfModule>
<IfModule !headers_module>
  LoadModule headers_module modules/mod_headers.so
</IfModule>

Listen 8080
<VirtualHost <YOUR_IP_ADDRESS>:8080>
    ServerName "<YOUR_FQDN>"
    ServerAdmin "<YOUR_EMAIL>"
    ServerSignature Off

    DocumentRoot "<YOUR_DOC_ROOT>"

    # Logging examples
    # ErrorLog "|rotatelogs -c -L /var/log/httpd/skyline.error.log /var/log/httpd/skyline.error.log 86400"
    # CustomLog "|rotatelogs -c -L /var/log/httpd/skyline.access.log /var/log/httpd/skyline.access.log 86400" combined

    ErrorLog "<YOUR_ERROR_LOG>"
    CustomLog "<YOUR_CUSTOM_LOG>"

    # Set the Strict-Transport-Security and X-Frame-Options headers
    Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
    Header always append X-Frame-Options SAMEORIGIN

    LimitRequestFieldSize 32768
    <Location />
        authType Basic
        authName Restricted
#        authUserFile "/etc/httpd/conf.d/.skyline_htpasswd"
        authUserFile "<YOUR_HTPASSWD_FILE>"
        Require valid-user
        Order allow,deny
        Allow from <YOUR_IP_ADDRESS>
        Allow from <YOUR_OTHER_IP_ADDRESS>
        Deny from all
        Satisfy any
    </Location>

    # Proxy https requests to gunicorn on your settings.WEBAPP_IP and
    # settings.WEBAPP_PORT, defaults are used here
    ProxyPreserveHost On
    ProxyPass / http://127.0.0.1:1500/
    ProxyPassReverse / http://127.0.0.1:1500/

    # Set CORS (cross-origin resource sharing) headers d3.js, jquery and ajax
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
    Header always set Access-Control-Max-Age "1000"
    Header always set Access-Control-Allow-Headers "x-requested-with, Content-Type, origin, authorization, accept, client-security-token"

    # Added a rewrite to respond with a 200 SUCCESS on every OPTIONS request.
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]

</VirtualHost>
