{% block bq_backfill_block %}

<!-- BEGIN /utilities bq_backfill block -->
{% if print_debug == 'True' %}
<code> DEBUG </code> :: /utilities bq_backfill</br>
{% endif %}

{% if display_message %}
<code> ERROR </code></br>
<code> message </code>: {{ display_message }}<br>
{% endif %}

<div class="navbar-header" role="navigation">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
		<ul class="nav nav-tabs" role="view_tablist" id="view">
		  <li><a href="/utilities"><span class="logo"><span class="sky">Match</span> <span class="re">metric</span> <span class="sky">name</span></span></a></li>
		  <li><a href="/utilities?skip_analysis_on"><span class="logo"><span class="sky">Skip</span> <span class="re">analysis</span></a></li>
		  <li><a href="/utilities?mute_alerts_on"><span class="logo"><span class="sky">Mute</span> <span class="re">alerts</span></a></li>
		  <li><a href="/utilities?test_alert"><span class="logo"><span class="sky">Test</span> <span class="re">alert</span></a></li>
	      <li><a href="/utilities?thunder_testing=true"><span class="logo"><span class="sky">Thunder</span> <span class="re">tests</span></a></li>
		  <li><a href="/utilities?alias_features_profile"><span class="logo"><span class="sky">Alias</span> <span class="re">features profiles</span></a></li>
		  <li><a href="/utilities?remove_flux_namespace_quota_metrics"><span class="logo"><span class="sky">Flux</span> <span class="re">remove namespace quota metrics</span></a></li>
		  <li><a href="/utilities?remove_and_set_inactive"><span class="logo"><span class="sky">Remove</span> <span class="re">metrics</span></a></li>
		  <li><a href="/utilities?labelled_metrics_names"><span class="logo"><span class="sky">Labelled metrics</span> - <span class="re">names</span></a></li>
		  <li><a href="/utilities?timeseries_graph"><span class="logo"><span class="sky">Graph</span> - <span class="re">timeseries</span></a></li>
		  <li><a href="/utilities?csv_to_timeseries"><span class="logo"><span class="sky">csv</span> - <span class="re">to timeseries</span></a></li>
		  <li class="active"><a href="/utilities?bq_backfill"><span class="logo"><span class="sky">BigQuery</span> <span class="re">backfill</span></a></li>
		  <li><a href="/utilities?bq_update"><span class="logo"><span class="sky">BigQuery</span> <span class="re">update</span></a></li>
		  <li><a href="/utilities?reprocess_batch_metrics"><span class="logo"><span class="sky">Reprocess</span> <span class="re">batch metrics</span></a></li>
		</ul>
		<div class="tab-content">
	  	<div class="tab-pane active" id="view">
	<br>
  <div class="navbar-header" role="navigation">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

	<div class="col-md-12">

	  <h4><span class="logo"><span class="sky">BigQuery ::</span> <span class="re">backfill</span></h4>

{% if bq_enabled|string == 'False' %}
	  <div class="alert alert-warning">
	    <strong>BigQuery is not enabled on this Skyline node</strong>
    </div>
{% endif %}

    A BigQuery backfill job is a one-off task that allows you to backfill BigQuery data into Skyline <strong>BEFORE</strong> enabling Vista to fetch the BigQuery data periodically.<br>
    To initiate a BigQuery backfill job you must first define the settings for the BigQuery data in settings.py VISTA_BQ_ACCOUNTS dict with the schedule values all set to 0, to ensure that source is not enabled in Vista.
    Enter the settings <code>VISTA_BQ_ACCOUNTS</code> key relating to the BigQuery data and the relevant timestamps which you want to backfill from and until.<br>
    This backfill function is based on the premise that each <code>query</code> will be made on a <code>WHERE</code> condition that is filtering on the DATE/TIMESTAMP field as each interval.<br>
    As such the Replace query string <strong>MUST</strong> contain the string <code>DATE_FORMAT</code> in place of the actual date or timestamp, int he backfill job
    this will be replaced for each interval with the DATE_FORMAT that is given.<br>
    For example if your settings had the <code>query</code> value set as:<br>
    <code>SELECT * FROM mytable WHERE date = DATE_SUB(CURRENT_DATE(), INTERVAL 1 DAY)</code><br>
    with the DATE_FORMAT of <code>%Y-%m-%d</code>, from_timestamp of 1684191600, until_timestamp of 1684450800, interval of 86400 and replace_query_string of DATE_SUB(CURRENT_DATE(), INTERVAL 1 DAY)<br>
    The backfill job would run the following queries and submit the data for each query:<br>
    <code>SELECT * FROM mytable WHERE date = '2023-05-16'</code>  # and would create metrics from the data and post metrics to flux<br>
    <code>SELECT * FROM mytable WHERE date = '2023-05-17'</code>  # and would create metrics from the data and post metrics to flux<br>
    <code>SELECT * FROM mytable WHERE date = '2023-05-18'</code>  # and would create metrics from the data and post metrics to flux<br>
    <code>SELECT * FROM mytable WHERE date = '2023-05-19'</code>  # and would create metrics from the data and post metrics to flux<br>
    By default <strong>dry_run</strong> is set to true so that the default is to test not do.  When a job is submitted with dry_run true the
    entire process is run but the data is only submitted to flux as test data, it is retrieved from BigQuery, converted into metric format and submitted to flux in <strong>test</strong>
    mode and returned in the job status_url page.<br>
    The backfill task is done in a sensible way and does not submit ALL the data this ensures that the system is not subjected to a thundering herd scenario.<br>
    The status_url will return the status of the task and report percent_complete and elapsed time.<br>

    <form action="bq_backfill" method=post enctype=multipart/form-data>
		  <input type="hidden" name="bq_backfill" value="true">
		  <input type="hidden" name="added_by" value="webapp">
  		  <table class="table table-hover">
  		    <thead>
  		      <tr>
  		        <th>Option</th>
  		        <th>value</th>
  		      </tr>
  		    </thead>
  		    <tbody>
    		  <tr>
  		        <td>VISTA_BQ_ACCOUNTS key</td>
  		        <td><input type="text" name="vista_bq_account_key" value="" /> The key of the settings to use from <code>settings.VISTA_BQ_ACCOUNTS</code> in settings <code>[required]</code></td>
  		      </tr>
  		      <tr>
      				<td>from_timestamp</td>
			      	<td><input type="number" name="from_timestamp" value="" /> the unix timestamp of the date and time to start the backfill from <code>[required]</code></td>
  		      </tr>
  		      <tr>
      				<td>until_timestamp</td>
			      	<td><input type="number" name="until_timestamp" value="" /> the unix timestamp of the date and time to end the backfill on (will be included as the last interval query)<code>[required]</code></td>
  		      </tr>
  		      <tr>
      				<td>interval</td>
			      	<td><input type="number" name="interval" value="" /> the interval at which to query the data e.g. daily would be 86400 <code>[required]</code></td>
  		      </tr>
  		      <tr>
      				<td>DATE_FORMAT</td>
			      	<td><input type="text" name="date_format" value="" /> the date format to be used in the SQL at each interval selector replaced with date format to use, this must be a valid date string format e.g. %Y-%m-%d <code>[required]</code></td>
  		      </tr>
  		      <tr>
      				<td>replace_query_string</td>
			      	<td><input type="text" name="replace_query_string" value="" /> the string to be replaced in the query element of the account settings by DATE_FORMAT <code>[required]</code></td>
  		      </tr>
			  <tr>
				<td>zero_fill</td>
				<td><select name="zero_fill">
					<option value="false">false</option>
					<option value="true">true</option>
				  </select> NOTE this by default is set to false.  Submit 0 when there is no value for a metric for an interval.  Consider
				rather setting the <code>zero_fill_analysis</code> in the VISTA_BQ_ACCOUNTS settings for the job.
				</td>
			  </tr>	
			  <tr>
				<td>use_archive_data</td>
				<td><select name="use_archive_data">
					<option value="true">true</option>
					<option value="false">false</option>
				  </select> NOTE this by default is set to true so if archive data files exist for the period they will be used.
				</td>
			  </tr>
			  <tr>
				<td>max_creates_per_minute</td>
				<td><input type="number" name="max_creates_per_minute" value="500" /> the maximum number of new metrics to create per minute.  This value must align with your Graphite MAX_CREATES_PER_MINUTE value defined in your Graphite's carbon.conf otherwise metrics will be dropped on Graphite. <code>[required]</code></td>
			  </tr>
			  <tr>
				<td>replace_redis_timeseries</td>
				<td><select name="replace_redis_timeseries">
			    <option value="false">false</option>
			    <option value="true">true</option>
				</select> <strong>NOTE</strong> this by default is set to false.  If you set this to true the <strong>entire</strong> Redis time series will be overwritten.  This should only be used if you are replacing test data with a real backfill.</td>
			  </tr>
			  <tr>
  		        <td>dry_run</td>
  		        <td><select name="dry_run">
                <option value="true">true</option>
                <option value="false">false</option>
              </select> NOTE this by default is set to true</td>
  		      </tr>
  		      <tr>
  		        <td>flux_test</td>
  		        <td><select name="flux_test">
                <option value="true">true</option>
                <option value="false">false</option>
              </select> NOTE this by default is set to true, if true will be submitted to flux but in test mode only e.g. flux will accept the data and report what was accepted but will not process it.</td>
  		      </tr>
  		      <tr>
				<td>verify_ssl</td>
				<td><select name="verify_ssl">
			  <option value="true">true</option>
			  <option value="false">false</option>
			</select> NOTE this by default is set to true, if you are using a self-signed SSL set this to false.</td>
			  </tr>
		</tbody>
  		  </table>
        <br>
  {% if bq_enabled|string == 'False' %}
        <input type="button" value="BigQuery not enabled" disabled />
  {% else %}
        <input type="submit" value="Backfill">
  {% endif %}
    </form>
      </div>
  </div>

	</div>
	</div>
	</div>

<!-- END bq_backfill_block -->
{% endblock %}
