{% block correlations_block %}
<!-- BEGIN /ionosphere/fp_veiw=true block -->

{% if print_debug == 'True' %}
<code> DEBUG </code> :: /ionosphere correlations_block</br>
  {% if requested_timestamp %}
<code> requested_timestamp </code>: {{ requested_timestamp }}<br>
  {% else %}
<code> requested_timestamp </code>: NOT FOUND<br>
  {% endif %}
{% endif %}

{% if display_message %}
<code> ERROR </code></br>
<code> message </code>: {{ display_message }}<br>
{% endif %}

  {% if correlations != False %}
	  <h4><span class="logo"><span class="sky">Existing ::</span> <span class="re">cross correlations ::</span></span></span> {{ correlations|length }} (listed strongest 1.0000 to weakest 0.0)</h4>
<!-- # @added 20180723 - Feature #2470: Correlations Graphite graph links
#                        Branch #2270: luminosity
# Added Graphite graph links to Correlations block
-->
	  <div class="alert alert-warning">
      These are the correlations from the entire metric population that fall within settings.LUMINOL_CROSS_CORRELATION_THRESHOLD,
      they are not necessarily all <strong>contextually related</strong>, but the <strong>contextually related</strong>
      correlations may be listed here if there are any.  These are simply the <strong>numeric</strong> correlations it is currently
      up to the operator to review them.  As it is assumed that the operator may know which metrics are likely to correlate
      with this anomaly on {{ for_metric }}, until such a time as Skyline can, something on the roadmap.
	  </div>
		  <table class="table table-hover">
		    <thead>
		      <tr>
		        <th>metric</th>
		        <th>coefficient</th>
		        <th>shifted</th>
		        <th>shifted_coefficient</th>
		      </tr>
		    </thead>
		    <tbody>
    {% for correlation_item in correlations_with_graph_links %}
		      <tr>
<!-- # @modified 20180723 - Feature #2470: Correlations Graphite graph links
#                           Branch #2270: luminosity
# Added Graphite graph links to the Correlations block in training_data and
# features_profile pages
		        <td>{{ correlation_item[0] }}</td>-->
		        <td><a target='_blank' href="{{ correlation_item[4] }}">{{ correlation_item[0] }}</a></td>
 		        <td>{{ correlation_item[1] }}</td>
		        <td>{{ correlation_item[2] }}</td>
		        <td>{{ correlation_item[3] }}</td>
		      </tr>
    {% endfor %}
		    </tbody>
		  </table>
  {% else %}
	  <h4><span class="logo"><span class="sky">Existing ::</span> <span class="re">correlations ::</span></span></span> None</h4>
  {% endif %}

{% endblock %}
