{% extends "layout.html" %}
{% block body %}

<!-- BEGIN /ionosphere block -->

<ol class="breadcrumb">
	<div class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/ionosphere">Ionosphere</a></li>
{% if fp_view %}
  {% if metric_files %}
		<li><a href="/ionosphere?fp_view=true&metric_td={{ for_metric }}">Features profiles</a></li>
		<li class="active"><span class="logo"><span class="sky">metric ::</span> <span class="re">{{ for_metric }}</span></span></li>
  {% else %}
		<li class="active"><span class="logo"><span class="sky">Features</span> <span class="re">profiles</span></li>
  {% endif %}
<!-- # @added 20170118 - Feature #1862: Ionosphere features profiles search page -->
{% elif fp_search %}
		<li class="active"><span class="logo"><span class="sky">Features</span> <span class="re">profiles</span></span></li>
<!-- # @added 20170917 - Feature #1996: Ionosphere - matches page -->
{% elif fp_matches %}
		<li class="active"><span class="logo"><span class="sky">Features</span> <span class="re">profiles</span></span></li>
<!-- # @added 20180812 - Feature #2430: Ionosphere validate learnt features profiles page -->
{% elif fp_validate %}
		<li class="active"><span class="logo"><span class="sky">Features profiles</span> <span class="re">to validate</span></span></li>
<!-- # @added 20210107 - Feature #3934: ionosphere_performance -->
{% elif performance %}
		<li class="active"><span class="logo"><span class="sky">Features profiles</span> <span class="re">performance</span></span></li>
<!-- # @added 20210413 - Feature #4014: Ionosphere - inference -->
{% elif matched_motifs %}
		<li class="active"><span class="logo"><span class="sky">Features</span> <span class="re">profiles</span></span></li>
{% else %}
  {% if metric_files %}
		<li><a href="/ionosphere?metric_td={{ for_metric }}">training data</a></li>
		<li class="active"><span class="logo"><span class="sky">metric ::</span> <span class="re">{{ for_metric }}</span></span></li>
  {% else %}
		<li class="active"><span class="logo"><span class="sky">Training</span> <span class="re">data</span></span></li>
  {% endif %}
{% endif %}
  </div>
</ol>

{% if fp_view %}
    {% include "features_profiles.html" %}
<!-- # @added 20170118 - Feature #1862: Ionosphere features profiles search page -->
{% elif fp_search %}
    {% include "search_features_profiles.html" %}
<!-- # @added 20170916 - Feature #1996: Ionosphere - matches page -->
{% elif fp_matches %}
    {% include "features_profiles_matches.html" %}
<!-- # @added 20180812 - Feature #2430: Ionosphere validate learnt features profiles page -->
{% elif fp_validate %}
    {% include "validate_features_profiles.html" %}
<!-- # @added 20210107 - Feature #3934: ionosphere_performance -->
{% elif performance %}
    {% include "ionosphere_performance.html" %}
<!-- # @added 20210413 - Feature #4014: Ionosphere - inference -->
{% elif matched_motifs %}
    {% include "motif_matches.html" %}
{% else %}
    {% include "training_data.html" %}
{% endif %}

<!-- END /ionosphere block -->
{% endblock %}
