{% extends "layout.html" %}
{% block body %}

<!-- BEGIN /ionosphere block -->
  <script src="/static/js/ionosphere.js"></script>

<!-- @added 20160727 - Bug #1524: Panorama dygraph not aligning correctly
momentjs to handle date ticker in the timezone in Dygraph
-->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.5/moment-timezone-with-data.min.js"></script>

	<ol class="breadcrumb">
  	<div class="breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li><a href="/ionosphere">Ionosphere</a></li>
  		<li class="active"><span class="logo"><span class="sky">search</span> <span class="re">anomalies</span></li>
    </div>
	</ol>


<!-- END /ionosphere block -->
{% endblock %}
