{% extends "layout.html" %}
{% block body %}

<!-- BEGIN /luminosity block -->

{% if classify_metrics %}
<ol class="breadcrumb">
	<div class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/luminosity">Luminosity</a></li>
		<li class="active"><span class="logo"><span class="sky">Classify</span> <span class="re">metrics</span></span></li>
  </div>
</ol>
{% else %}
<ol class="breadcrumb">
	<div class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active"><span class="logo"><span class="sky">Luminosity</span></span></li>
  </div>
</ol>
{% endif %}

{% if classify_metrics %}
  {% include "classify_metrics.html" %}
{% endif %}

{% if classification %}
  {% include "classification.html" %}
{% endif %}

{% if classify_metric %}
  {% include "classify_metric.html" %}
{% endif %}

<!-- END /luminosity block -->
{% endblock %}
