{% block motif_matches_block %}
<!-- BEGIN /ionosphere/motif_matches=true block -->
{% if print_debug == 'True' %}
<code> DEBUG </code> :: /ionosphere motif_matches_matches block</br>
{% endif %}

{% if display_message %}
<code> ERROR </code></br>
<code> message </code>: {{ display_message }}<br>
{% endif %}

<div class="navbar-header" role="navigation">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
		<ul class="nav nav-tabs" role="view_tablist" id="view">
		  <li><a href="/ionosphere"><span class="logo"><span class="sky">Training</span> <span class="re">data</span></span></a></li>
		  <li class="active"><a href="?fp_view=true"><span class="logo"><span class="sky">Features</span> <span class="re">profiles</span></span></a></li>
		</ul>
		<div class="tab-content">
	  	<div class="tab-pane active" id="view">
	<br>
  <div class="navbar-header" role="navigation">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

<!--	<div class="col-md-9 col-md-pull-3"> -->
	<div class="col-md-12">
		<ul class="nav nav-tabs" role="tablist" id="list_by-tabs">
		  <li><a href="?fp_search=true&metric=all&limit=10&order=DESC">Search</a></li>
<!-- # @modified 20180419 - Feature #1996: Ionosphere - matches page
#                           Branch #2270: luminosity
# Return matches for the last 24 hours as the default -->
		  <li><a href="?fp_matches=true&metric=all&limit=0&from_timestamp={{ matched_from_datetime }}&order=DESC">Matches</a></li>
		  <li class="active"><a href="?motif_matches=true&metric=all&limit=100&from_timestamp={{ matched_from_datetime }}&order_by=DESC"><span class="logo"><span class="sky">Motif</span> <span class="re">matches</span></span></a></li>
	    <li><a href="?fp_validate=true&metric=all">Validate</a></li>
		  <li><a href="?performance=true">Performance</a></li>
		  <li><a href="/ionosphere?fp_view=true">List by metrics</a></li>
		  <li><a href="?fp_view=true&a_dated_list=true">List by date</a></li>
		</ul>
		<div class="tab-content">

  		<div class="col-md-12">
  		  <h4><span class="logo"><span class="sky">Matches ::</span> <span class="re">motifs</span></span></h4>
  {% if matched_motifs %}
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#match_options">Show match options</button>
        <div id="match_options" class="collapse">
  {% endif %}
        <form action="ionosphere">
  		  <table class="table table-hover">
  		    <thead>
  		      <tr>
  		        <th>Match criteria</th>
  		        <th>filter</th>
  		      </tr>
  		    </thead>
  		    <tbody>
  		      <tr>
  		        <td>Motif matches search</td>
  		        <td><select name="motif_matches">
                <option value="true">true</option>
              </select></td>
  		      </tr>
  		      <tr>
  		        <td>metric:</td>
  		        <td><input type="text" name="metric" value="all" /></td>
  		      </tr>
  		      <tr>
  		        <td>Metric like</td>
  		        <td><input type="text" name="metric_like" value="all"> (wildcards are MySQL LIKE style, % e.g. stats.app.requests.http_status_codes.% or %.http_status_codes.%)</td>
  		      </tr>
  		      <tr>
  		        <td>from_timestamp</td>
  		        <td><input type="text" name="from_timestamp" value="{{ matched_from_datetime }}"> (unix timestamp or %Y%m%d %H:%M)</td>
  		      </tr>
  		      <tr>
  		        <td>until_timestamp</td>
  		        <td><input type="text" name="until_timestamp" value="all"> (unix timestamp or %Y%m%d %H:%M)</td>
  		      </tr>
  		      <tr>
  		        <td>primary match</td>
  		        <td><select name="primary_match">
                <option value="any">any</option>
                <option value="true">true</option>
                <option value="false">false</option>
              </select></td>
  		      </tr>
  		      <tr>
  		        <td>validated</td>
  		        <td><select name="validated_equals">
                <option value="any">any</option>
                <option value="false">false</option>
                <option value="true">true</option>
                <option value="invalid">invalid</option>
              </select></td>
  		      </tr>
  		      <tr>
                <td>sort by</td>
  		        <td><select name="sort_by">
                <option value="id">id</option>
                <option value="distance">distance</option>
                <option value="size">size</option>
                <option value="metric_id">metric_id</option>
                <option value="fp_id">fp_id</option>
                <option value="metric_timestamp">metric_timestamp</option>
              </select></td>
  		      </tr>
  		      <tr>
                <td>order by</td>
  		        <td><select name="order_by">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select></td>
  		      </tr>
  		      <tr>
                <td>limit</td>
                <td><input type="number" name="limit" min="0" max="100" value="100" /> use 0 for unlimited</td>
  		      </tr>
  		    </tbody>
  		  </table>
        <br>
        <input type="submit" value="Search motif matches">
      </form>
  {% if matched_motifs %}
<!-- collapse button div -->
      </div>
  {% endif %}
      </div>
  {% if matched_motifs %}
	  <div class="tab-pane active" id="motif_matches">
      <h4><span class="logo"><span class="sky">Matches ::</span> <span class="re">motif :: </span></span>{{ for_metric }} -
          limited by {{ matched_motifs|length }} motif matches</h4>
			<table class="table table-hover">
				<thead>
					<tr>
<!-- [human_date, match_id, matched_by, fp_id, layer_id, metric, uri_to_matched_page, validated] -->
            <th>date</th>
            <th>metric</th>
            <th>fp_id</th>
            <th>match id</th>
            <th>index</th>
            <th>size</th>
            <th>distance</th>
            <th>area percent diff</th>
            <th>fps checked</th>
            <th>runtime</th>
            <th>type</th>
            <th>validated</th>
					</tr>
				</thead>
				<tbody>
    {% for matched_motif_id in matched_motifs %}
          <tr>
            <td>{{ matched_motifs[matched_motif_id]['human_date'] }}</td>
            <td>{{ matched_motifs[matched_motif_id]['metric'] }}</td>
            <td>{{ matched_motifs[matched_motif_id]['fp_id'] }}</td>
            <td onclick="window.location='?fp_view=true&fp_id={{ matched_motifs[matched_motif_id]['fp_id'] }}&metric={{ matched_motifs[matched_motif_id]['metric'] }}&matched_motif_id={{ matched_motif_id }}'">
              <a href="?fp_view=true&fp_id={{ matched_motifs[matched_motif_id]['fp_id'] }}&metric={{ matched_motifs[matched_motif_id]['metric'] }}&matched_motif_id={{ matched_motif_id }}">{{ matched_motif_id }}</a>
            </td>
            <td>{{ matched_motifs[matched_motif_id]['index'] }}</td>
            <td>{{ matched_motifs[matched_motif_id]['size'] }}</td>
            <td>{{ "%.3f"|format(matched_motifs[matched_motif_id]['distance']) }}</td>
            <td>{{ "%.2f"|format(matched_motifs[matched_motif_id]['area_percent_diff']) }}</td>
            <td>{{ matched_motifs[matched_motif_id]['fps_checked'] }}</td>
            <td>{{ "%.3f"|format(matched_motifs[matched_motif_id]['runtime']) }}</td>
      {% if matched_motifs[matched_motif_id]['type_id'] == 1 %}
            <td><span class="logo"><span class="sky">exact</span></span></td>
      {% elif matched_motifs[matched_motif_id]['type_id'] == 2 %}
            <td><span class="logo"><span class="re">all_in_range</span></span></td>
      {% elif matched_motifs[matched_motif_id]['type_id'] == 3 %}
            <td><span class="logo"><span class="re">in_range</span></span></td>
      {% elif matched_motifs[matched_motif_id]['type_id'] == 4 %}
            <td><span class="logo"><span class="re">not_similar</span></span></td>
      {% elif matched_motifs[matched_motif_id]['type_id'] == 5 %}
            <td><span class="logo"><span class="re">INVALIDATED</span></span></td>
      {% elif matched_motifs[matched_motif_id]['type_id'] == 6 %}
            <td><span class="logo"><span class="re">distance</span></span></td>
      {% else %}
            <td><span class="logo"><span class="re">in_range</span></span></td>
      {% endif %}
      {% if matched_motifs[matched_motif_id]['validated'] == 2 %}
            <td><span class="logo"><span class="re">INVALIDATED</span></span></td>
      {% elif matched_motifs[matched_motif_id]['validated'] == 1 %}
            <td><span class="logo"><span class="sky">True</span></span></td>
      {% else %}
            <td><span class="logo"><span class="re">False</span></span></td>
      {% endif %}
          </tr>
    {% endfor %}
				</tbody>
			</table>
		</div>
  {% endif %}
    </div> <!-- END div class="col-md-12" -->

	</div>
	</div>
	</div>
  </div>
</div>
</div>
</div>
</div>
</div>

<!-- END /ionosphere/?fp_matches=true block -->
{% endblock %}
