{% block test_alert_block %}

{% if print_debug == 'True' %}
<code> DEBUG </code> :: /utilities test_alert_block</br>
{% endif %}

{% if display_message %}
<code> ERROR </code></br>
<code> message </code>: {{ display_message }}<br>
{% endif %}

<div class="navbar-header" role="navigation">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
		<ul class="nav nav-tabs" role="view_tablist" id="view">
		  <li><a href="/utilities"><span class="logo"><span class="sky">Match</span> <span class="re">metric</span> <span class="sky">name</span></span></a></li>
      <li class="active"><a href="/utilities?test_alert"><span class="logo"><span class="sky">Test</span> <span class="re">alert</span></a></li>
      <li><a href="/utilities?thunder_testing=true"><span class="logo"><span class="sky">Thunder</span> <span class="re">tests</span></a></li>
      <li><a href="/utilities?remove_flux_namespace_quota_metrics"><span class="logo"><span class="sky">Flux</span> <span class="re">remove namespace quota metrics</span></a></li>
      <li><a href="/utilities?remove_and_set_inactive"><span class="logo"><span class="sky">Remove</span> <span class="re">metrics</span></a></li>
		</ul>
		<div class="tab-content">
	  	<div class="tab-pane active" id="view">
	<br>
  <div class="navbar-header" role="navigation">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

	<div class="col-md-12">

	  <h4><span class="logo"><span class="sky">Test ::</span> <span class="re">alert</span></span></h4>

<strong>Note</strong> that a metric <strong>must be declared</strong> in the relevant app alert settings for a test to work.
The submission of this form only adds an alert to be sent via the API.  If an alert is not received check the logs and your relevant alert settings.

        <form action="api">
  		  <table class="table table-hover">
  		    <thead>
  		      <tr>
  		        <th>Option</th>
  		        <th>value</th>
  		      </tr>
  		    </thead>
  		    <tbody>
  		      <tr>
  		        <td>Test alert</td>
  		        <td><select name="test_alert">
                <option value="true">true</option>
              </select></td>
  		      </tr>
  		      <tr>
  		        <td>Metric</td>
  		        <td><input type="text" name="metric" value="" /> the metric name you want to test an alert on e.g. webserver-1.nginx.status_code.200</td>
  		      </tr>
  		      <tr>
  		        <td>App</td>
              <td><select name="app">
              <option value="mirage">mirage</option>
              <option value="boundary">boundary</option>
              <option value="analyzer">analyzer</option>
              </select> The app to fire a test alert from</td>
  		      </tr>
  		      <tr>
  		        <td>Alerter</td>
              <td><select name="alerter">
              <option value="smtp">smtp</option>
              <option value="slack">slack</option>
              <option value="sms">sms</option>
  {% if http_alerters %}
    {% for item in http_alerters %}
              <option value="{{ item }}">{{ item }}</option>
    {% endfor %}
  {% endif %}
              </select> The alerter to send the test alert with</td>
  		      </tr>
  		      <tr>
  		        <td>Alerter id</td>
  		        <td><input type="text" name="alerter_id" value="0" /> the alerter id, optional for external settings alerters, otherwise leave as 0</td>
  		      </tr>
  		      <tr>
  		        <td>Trigger anomaly (<strong>mirage only</strong>)</td>
              <td><select name="trigger_anomaly">
              <option value="false">false</option>
              <option value="true">true</option>
              </select> You can just test sending alert or you can trigger and record a real anomaly (<strong>mirage only</strong>) and alert</td>
  		      </tr>
  		    </tbody>
  		  </table>
        <br>
        <input type="submit" value="Test alert">
      </form>
      </div>
  </div>

	</div>
	</div>
	</div>

<!-- END /match_metric block -->
{% endblock %}
