{% extends "layout.html" %}
{% block body %}
<!-- BEGIN /utilities block -->
<!--
# @added 20201212 - Feature #3880: webapp - utilities - match_metric
 -->
{% if metrics_match %}
	<ol class="breadcrumb">
  	<div class="breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li><a href="/utilities">Utilities</a></li>
  		<li class="active"><span class="logo"><span class="sky">Match</span> <span class="re">metric</span> <span class="sky">name</span></span></li>
			<li><a href="/utilities?thunder_test=true"><span class="logo"><span class="sky">Thunder</span> <span class="re">test</span></span></a></li>
    </div>
	</ol>
  {% include "match_metric.html" %}
{% endif %}

<!-- # @added 20210602 - Branch #1444: thunder  -->
{% if thunder_testing %}
	<ol class="breadcrumb">
  	<div class="breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li><a href="/utilities?thunder_testing=true">Utilities</a></li>
  		<li class="active"><span class="logo"><span class="sky">Thunder</span> <span class="re">tests</span></span></li>
    </div>
	</ol>
  {% include "thunder_testing.html" %}
{% endif %}

<!-- END /utilities block -->
{% endblock %}
