{% extends "layout.html" %}
{% block body %}
<!-- BEGIN /utilities block -->
<!--
# @added 20201212 - Feature #3880: webapp - utilities - match_metric
 -->
{% if metrics_match or match_metric %}
	<ol class="breadcrumb">
  	<div class="breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li><a href="/utilities">Utilities</a></li>
  		<li class="active"><span class="logo"><span class="sky">Match</span> <span class="re">metric</span> <span class="sky">name</span></span></li>
    </div>
	</ol>
  {% include "match_metric.html" %}
{% endif %}

{% if mute_alerts_on %}
	<ol class="breadcrumb">
  	<div class="breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li><a href="/utilities">Utilities</a></li>
  		<li class="active"><span class="logo"><span class="sky">Mute</span> <span class="re">alerts</span></span></li>
    </div>
	</ol>
  {% include "mute_alerts_on.html" %}
{% endif %}

{% if test_alert %}
	<ol class="breadcrumb">
  	<div class="breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li><a href="/utilities">Utilities</a></li>
  		<li class="active"><span class="logo"><span class="sky">Test</span> <span class="re">alert</span></span></li>
    </div>
	</ol>
  {% include "test_alert.html" %}
{% endif %}

<!-- # @added 20210602 - Branch #1444: thunder  -->
{% if thunder_testing %}
	<ol class="breadcrumb">
  	<div class="breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li class="active"><span class="logo"><span class="sky">Thunder</span> <span class="re">tests</span></span></li>
    </div>
	</ol>
  {% include "thunder_testing.html" %}
{% endif %}

{% if remove_flux_namespace_quota_metrics %}
	<ol class="breadcrumb">
  	<div class="breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li><a href="/utilities">Utilities</a></li>
  		<li class="active"><span class="logo"><span class="sky">Thunder</span> <span class="re">tests</span></span></li>
    </div>
	</ol>
  {% include "remove_flux_namespace_quota_metrics.html" %}
{% endif %}

{% if labelled_metrics_names %}
	<ol class="breadcrumb">
  	<div class="breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li><a href="/utilities">Utilities</a></li>
  		<li class="active"><span class="logo"><span class="sky">Labelled metrics</span> - <span class="re">names</span></span></li>
    </div>
	</ol>
  {% include "labelled_metrics_names.html" %}
{% endif %}

{% if timeseries_graph %}
	<ol class="breadcrumb">
  	<div class="breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li><a href="/utilities">Utilities</a></li>
  		<li class="active"><span class="logo"><span class="sky">Graph</span> - <span class="re">timeseries</span></span></li>
    </div>
	</ol>
  {% include "timeseries_graph.html" %}
{% endif %}

{% if csv_to_timeseries %}
	<ol class="breadcrumb">
  	<div class="breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li><a href="/utilities">Utilities</a></li>
  		<li class="active"><span class="logo"><span class="sky">csv</span> - <span class="re"> to timeseries</span></span></li>
    </div>
	</ol>
  {% include "csv_to_timeseries.html" %}
{% endif %}

<!-- END /utilities block -->
{% endblock %}
