# @modified 20180717 - Task #2446: Optimize Ionosphere
#                      Branch #2270: luminosity
# @modified 20190412 - Task #2926: Update dependencies
# @modified 20190426 - Task #2964: Update dependencies
# @modified 20190529 - Task #3060: Update dependencies
# @modified 20190822 - Task #3060: Update dependencies
# @modified 20210324 - Support #3990: Update jinja - CVE-2020-28493
#                      Task #3960: SNYK-PYTHON-JINJA2-1012994
# @modified 20210407 - Support #4008: SNYK-PYTHON-PILLOW-1090584
# @modified 20220110 - Task #4362: snyk - numpy and pillow updates
# @modified 20220206 - Feature #4416: settings - additional SMTP_OPTS
# @modified 20220422 - Task #4452: Update dependencies
# Use pip 10.0.1 as may be a readthedocs issue - testing
pip>=10.0.1
# @modified 20200808 - Task #3608: Update Skyline to Python 3.8.3 and deps
setuptools
wheel
# @modified 20211220 - Task #4344: Update dependencies
#redis==3.5.3
# @modified 20220110 - Task #4362: snyk - numpy and pillow updates
#redis==4.0.2
# @modified 20220422 - Task #4452: Update dependencies
#redis==4.1.0
redis==4.2.2
# @modified 20211220 - Task #4344: Update dependencies
#hiredis==1.1.0
hiredis==2.0.0
# @modified 20220110 - Task #4362: snyk - numpy and pillow updates
#docutils==0.16
docutils==0.18.1
lockfile==0.12.2
# @modified 20211220 - Task #4344: Update dependencies
#python-daemon==2.2.4
python-daemon==2.3.0
# @modified 20211220 - Task #4344: Update dependencies
#itsdangerous==1.1.0
# @modified 20220110 - Task #4362: snyk - numpy and pillow updates
#itsdangerous==2.0.0
# @modified 20220422 - Task #4452: Update dependencies
#itsdangerous==2.0.1
itsdangerous==2.1.2
# @modified 20210202 - Task #3960: SNYK-PYTHON-JINJA2-1012994
# @modified 20210324 - Support #3990: Update jinja - CVE-2020-28493
#                      Task #3960: SNYK-PYTHON-JINJA2-1012994
#Jinja2==2.11.2
# @modified 20211220 - Task #4344: Update dependencies
#Jinja2==2.11.3
# @modified 20220422 - Task #4452: Update dependencies
#Jinja2==3.0.3
# @modified 20220430 - Task #4452: Update dependencies
# readthedocs error
# from jinja2 import FileSystemLoader, BaseLoader, TemplateNotFound, \
# ImportError: cannot import name 'contextfunction' from 'jinja2' (/home/docs/checkouts/readthedocs.org/user_builds/earthgecko-skyline/envs/latest/lib/python3.7/site-packages/jinja2/__init__.py)
#Jinja2==3.1.1
Jinja2==2.11.3
# @modified 20211220 - Task #4344: Update dependencies
#MarkupSafe==1.1.1
# @modified 20220422 - Task #4452: Update dependencies
#MarkupSafe==2.0.1
MarkupSafe==2.1.1
# @modified 20211220 - Task #4344: Update dependencies
#Werkzeug==1.0.1
# @modified 20220422 - Task #4452: Update dependencies
#Werkzeug==2.0.2
Werkzeug==2.1.1
# @modified 20211220 - Task #4344: Update dependencies
#click==7.1.2
# @modified 20220422 - Task #4452: Update dependencies
#click==8.0.3
click==8.1.2
# @modified 20211220 - Task #4344: Update dependencies
#Flask==1.1.2
# @modified 20220422 - Task #4452: Update dependencies
#Flask==2.0.2
# @modified 20220430 - Task #4452: Update dependencies
# readthedocs error
#Flask==2.1.1
Flask==2.0.2
# @modified 20211220 - Task #4344: Update dependencies
#simplejson==3.17.2
simplejson==3.17.6
# @modified 20211220 - Task #4344: Update dependencies
#six==1.15.0
six==1.16.0
argparse==1.4.0
linecache2==1.0.0
traceback2==1.4.0
unittest2==1.1.0
funcsigs==1.0.2
# @modified 20211220 - Task #4344: Update dependencies
#pbr==5.5.1
# @modified 20220422 - Task #4452: Update dependencies
#pbr==5.8.0
pbr==5.8.1
mock==4.0.3
# @modified 20211220 - Task #4344: Update dependencies
#numpy==1.19.4
# @modified 20220110 - Task #4362: snyk - numpy and pillow updates
#numpy==1.21.5
# @modified 20220206 - Feature #4416: settings - additional SMTP_OPTS
# numpy 1.22.0 not available on readthedocs
#numpy==1.22.0
# @modified 20220422 - Task #4452: Update dependencies
# numpy 1.22.0 stil not available on readthedocs
#numpy==1.21.5
#numpy==1.22.3
numpy==1.21.5
# @modified 20211220 - Task #4344: Update dependencies
#scipy==1.5.4
scipy==1.7.3
# @modified 20211220 - Task #4344: Update dependencies
#python-dateutil==2.8.1
python-dateutil==2.8.2
# @modified 20211220 - Task #4344: Update dependencies
#pytz==2020.5
# @modified 20220422 - Task #4452: Update dependencies
#pytz==2021.3
pytz==2022.1
# @modified 20211220 - Task #4344: Update dependencies
#cycler==0.10.0
cycler==0.11.0
# @modified 20211220 - Task #4344: Update dependencies
#pyparsing==2.4.7
# @modified 20220422 - Task #4452: Update dependencies
#pyparsing==3.0.6
pyparsing==3.0.8
# @modified 20210407 - Support #4008: SNYK-PYTHON-PILLOW-1090584
#Pillow==8.1.2
# @modified 20211110 - Task #4282: Update dependencies
# SNYK-PYTHON-PILLOW-1316216, SNYK-PYTHON-PILLOW-1319443 and SNYK-PYTHON-PILLOW-1727377
#Pillow==8.2.0
# @modified 20211220 - Task #4344: Update dependencies
#Pillow==8.3.2
# @modified 20220110 - Task #4362: snyk - numpy and pillow updates
#Pillow==8.4.0
# @modified 20220422 - Task #4452: Update dependencies
#Pillow==9.0.0
Pillow==9.1.0
# @modified 20220217 - Task #4452: Update dependencies
#matplotlib==3.3.3
matplotlib==3.5.1
# @modified 20211220 - Task #4344: Update dependencies
#pandas==1.2.0
# @modified 20220422 - Task #4452: Update dependencies
#pandas==1.3.5
# @modified 20220430 - Task #4452: Update dependencies
# pandas 1.4.2 not available on readthedocs
#pandas==1.4.2
pandas==1.3.5
# @modified 20211220 - Task #4344: Update dependencies
#patsy==0.5.1
patsy==0.5.2
statsmodels==0.12.1
msgpack-python==0.5.6
# @modified 20211220 - Task #4344: Update dependencies
#requests==2.25.1
# @modified 20220110 - Task #4362: snyk - numpy and pillow updates
#requests==2.26.0
requests==2.27.1
#python-simple-hipchat==0.4.0
pygerduty==0.38.3
# @modified 20211220 - Task #4344: Update dependencies
#mysql-connector-python==8.0.22
# @modified 20220422 - Task #4452: Update dependencies
#mysql-connector-python==8.0.27
mysql-connector-python==8.0.28
# @modified 20211220 - Task #4344: Update dependencies
#gunicorn==20.0.4
gunicorn==20.1.0
# @modified 20211220 - Task #4344: Update dependencies
#pipdeptree==2.0.0
# @modified 20220110 - Task #4362: snyk - numpy and pillow updates
#pipdeptree==2.2.0
pipdeptree==2.2.1
# @added 20210614 - Task #4140: deps updates
#                   Branch #1444: thunder
# https://snyk.io/vuln/SNYK-PYTHON-PIP-1278135
# Pin to 21.1.2 until pipdeptree updates
# @modified 20211220 - Task #4344: Update dependencies
#pip==21.1.2
# @modified 20210614 - Task #4140: deps updates
#                      Branch #1444: thunder
# https://snyk.io/vuln/SNYK-PYTHON-SCIKITLEARN-1079100
#scikit-learn==0.24.0
# @modified 20211220 - Task #4344: Update dependencies
#scikit-learn==0.24.2
# @modified 20220110 - Task #4362: snyk - numpy and pillow updates
#scikit-learn==1.0.1
scikit-learn==1.0.2
future==0.18.2
tsfresh==0.17.0
termcolor==1.1.0
# @modified 20211220 - Task #4344: Update dependencies
#py==1.10.0
py==1.11.0
# @modified 20211220 - Task #4344: Update dependencies
#pytest==6.2.1
# @modified 20220422 - Task #4452: Update dependencies
#pytest==6.2.5
pytest==7.1.1
# @modified 20211220 - Task #4344: Update dependencies
#SQLAlchemy==1.3.22
# @modified 20220110 - Task #4362: snyk - numpy and pillow updates
#SQLAlchemy==1.4.28
# @modified 20220422 - Task #4452: Update dependencies
#SQLAlchemy==1.4.29
SQLAlchemy==1.4.35
# @modified 20211220 - Task #4344: Update dependencies
#pymemcache==3.4.0
# @modified 20220422 - Task #4452: Update dependencies
#pymemcache==3.5.0
pymemcache==3.5.2
# @modified 20211220 - Task #4344: Update dependencies
#PyJWT==1.7.1
PyJWT==2.3.0
slackclient==2.9.3
# @modified 20210614 - Task #4140: deps updates
#                      Branch #1444: thunder
# https://github.com/earthgecko/skyline/pull/431
#urllib3==1.26.4
# @modified 20211220 - Task #4344: Update dependencies
#urllib3==1.26.5
# @modified 20220110 - Task #4362: snyk - numpy and pillow updates
#urllib3==1.26.7
# @modified 20220422 - Task #4452: Update dependencies
#urllib3==1.26.8
urllib3==1.26.9
# @modified 20211220 - Task #4344: Update dependencies
#graphyte==1.6.0
graphyte==1.7.0
statsd==3.3.0
# @modified 20211220 - Task #4344: Update dependencies
#falcon==2.0.0
# @modified 20220422 - Task #4452: Update dependencies
#falcon==3.0.1
falcon==3.1.0

xlrd==1.2.0
# @modified 20220422 - Task #4452: Update dependencies
#pandas_log==0.1.6; python_version >= '3.2'
pandas_log==0.1.6

# @modified 20211220 - Task #4344: Update dependencies
#timeout-decorator==0.4.1
timeout-decorator==0.5.0
# @modified 20211220 - Task #4344: Update dependencies
#matrixprofile==1.1.4
matrixprofile==1.1.10
mass-ts==0.1.4
# @modified 20220422 - Task #4452: Update dependencies
#boto3==1.20.24
boto3==1.21.44

adtk

# @added 20220110 - Feature #4180: custom_algorithm - m66
#                   Feature #4164: luminosity - cloudbursts
bottleneck==1.3.2

# @added 20220111 - Feature #3550: flux.uploaded_data_worker
#                   Feature #3538: webapp - upload_data endpoint
#                   Task #4362: snyk - numpy and pillow updates
# New dependency for pandas reading xls
openpyxl==3.0.9

# @added 20220422 - Task #4452: Update dependencies
# @modified 20220430 - Task #4452: Update dependencies
# opentelemetry conflicts, disabling
#opentelemetry-api==1.11.1
#opentelemetry-distro==0.29b0
#opentelemetry-exporter-jaeger==1.11.1
#opentelemetry-exporter-jaeger-proto-grpc==1.11.1
#opentelemetry-exporter-jaeger-thrift==1.11.1
#opentelemetry-instrumentation==0.29b0
#opentelemetry-instrumentation-flask==0.29b1
#opentelemetry-instrumentation-redis==0.29b0
#opentelemetry-instrumentation-pymemcache==0.29b0
#opentelemetry-instrumentation-sqlalchemy==0.29b0
#opentelemetry-instrumentation-wsgi==0.29b0
#opentelemetry-proto==1.11.1
#opentelemetry-sdk==1.11.1
#opentelemetry-semantic-conventions==0.29b0
#opentelemetry-util-http==0.29b0
