[Unit]
Description=boundary instance (Skyline)
After=network.target

[Service]
Environment=PATH=/opt/python_virtualenv/projects/skyline/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/bin
Environment=VIRTUAL_ENV=/opt/python_virtualenv/projects/skyline
Type=forking
User=skyline
Group=skyline
ExecStart=/opt/skyline/github/skyline/bin/boundary.d start
ExecStop=/opt/skyline/github/skyline/bin/boundary.d stop
PIDFile=/var/run/skyline/boundary.pid
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
